<h1>Enrichissement terminé</h1>

<p>
    L'enrichissement de {{enrichment.media.originalFileName}} {{status == 'SUCCESS' ? 'a réussi' : 'a échoué'}}.<br><br>
    Vous pouvez y accéder via ce <a href={{ base_url ~ '/enrichments/' ~ enrichment.id }}>lien</a><br><br>
</p>
