<footer class="text-muted text-center text-small border-top aristote-footer">
    <a target='_blank' href=https://www.flaticon.com/fr/icones-gratuites/aristote title="aristote icônes">Aristote icônes créées par Freepik - Flaticon</a>
</footer>
